{% extends "headerfooter.html" %}
{% block content %}
<h3>{{msg}}</h3>
<!-- inner page banner -->

<!-- //inner page banner -->
<!-- mail -->
				
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	">
        <div class="container">
            <div class="main-titles-head text-center">
                <h3 class="header-name ">
            Change Password
                </h3>
                
                <div class="border-line "></div>
                <div class="border-line2 "></div>
            </div>
            
         
<div class="back-color">
    <form action="/changepass/"  method="post">
        {% csrf_token %}
{% for  x in usr %}
        
<div class="form-group">
<label for="exampleInputEmail1">Name</label>
<input type="text" class="form-control" id="exampleInputEmail1"   name="name" value="{{x.name}}" >
</div>
        
<div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="text" class="form-control" id="exampleInputEmail1"   name="email" value="{{x.email}}" >
    </div>
    
    


<div class="form-group">
<label for="exampleInputPassword1">Old Password</label>
<input type="text" class="form-control" id="exampleInputPassword1" name="password"  >
</div> 
<div class="form-group">
    <label for="exampleInputPassword1">New Password</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="newpassword"  >
    </div> 
    
  

 
                    <div class="form-group-2 text-center" >
                        <button type="submit" class="btn action-button mt-3 ">update </button>
                    </div>
            </div>
            </form>
{% endfor %}
        </div>
        </div>        
    </div>
    </div>
</section>
 {% endblock %}