{% extends "base.html" %}
{% block content %}
<!-- <div class="panel panel-widget"> -->
    <div class="bs-docs-example">
        <div style="overflow-x:auto;">
  
        <table class="table "  >
     
            <thead>
                <tr>
                  <th>#</th>
                  <th> Class</th>
                  <th>Exam</th>
                  <th>Date</th>
                  <th>Time</th>

                  <th> edit</th>
                  <th>delete</th>
                  <th>status</th>
                
                 
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    {% for x in reg %}
                  <td>{{forloop.counter}}</td>
                  <td>{{x.standard}}</td>
                  <td>{{x.exam}}</td>
                  <td>{{x.date}}</td>
                  <td>{{x.time}}</td>
                  

                
                
				<td><a href= "{% url 'editexam' %}?id={{x.id}}">edit</a></td>
				<td><a href= "{% url 'deleteexam' %}?id={{x.id}}">delete</a></td>
                 {% if x.status == "pending" %}
					
					<td><a href= "{% url 'statusexam' %}?id={{x.id}}">approve</a></td>
					{% else %}
					{% endif %}
					

          
                
                </tr>
                {% endfor %}
              
            </tbody>
        </table>
    </div>
</div>


{% endblock %}