{% extends 'base.html' %}
{% block content %}
<section class="innerpage_banner py-5">
	<div class="dot1">
		
	</div>
</section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
           <h3>{{msg}}</h3>
                <h3>PAY SALARY</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {% for x in t %}
              
           <form action="{% url 'paysalary' %}?id={{x.id}}" method="post">
                {% csrf_token %}
            
                  <div class="card-body">
                    <div class="form-group">
                      <label for="disabledinput" class="col-sm-2 control-label">Name</label>
                
                        <input type="text" name="name" required="" value="{{x.name}}" >
                      </div>
                   
                    
                      <div class="form-group">
                        <label for="disabledinput" class="col-sm-2 control-label">Amount</label>
                 
                  												
                        <input type="text" value="{{amount}}" name="amount" required="" readonly>
                    
                    </div>
                    <div class="form-group">
                      <label for="disabledinput" class="col-sm-2 control-label">Month</label>
               
                        <input type="text" name="month" required="" size="25" >
                    
                      </div>
                      
                
                    <div class="form-group">
                      <label for="disabledinput" class="col-sm-2 control-label">Account Number</label>
                  
                        <input type="text"name="acc" required="" size="25" >
                    
                      </div>
                      
                    <div class="form-group">
                      <label for="disabledinput" class="col-sm-2 control-label">IfSC</label>
                     
                        <input type="text "name="ifc" required=""  size="25">
                    
                      </div>
                      <input type="hidden" value="{{x.id}}" name="id" required="" readonly>				

                    <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">PAY</button>
                </div>
                {% endfor %}
                </form>
            
            <!-- /.card -->
</div>


      </div>
    </section>
    <!-- /.content -->
{% endblock %}